@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900");
#root,
.App {
  height: 100%; }

body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p,
figcaption,
.button.ui,
.ui.header,
.ui.input > input,
.ui.steps .step .title,
.ui.menu,
.ui.statistic > .label,
.ui.statistics .statistic > .label,
.ui.modal > .header {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #333; }

body {
  width: 100%;
  font-weight: thin;
  font-size: 12px;
  font-variant-ligatures: no-common-ligatures;
  -webkit-font-variant-ligatures: no-common-ligatures; }
  @media only screen and (max-width: 776px) {
    body input, body textarea {
      font-size: 16px !important; } }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  color: #e96132; }

a {
  color: white; }
  a:hover {
    color: white; }

hr {
  border: 0.11rem dashed orange;
  width: 85%;
  margin: 2rem auto; }

.centered {
  margin: 0 auto;
  width: initial; }

.flex-center {
  display: flex;
  align-content: center;
  vertical-align: middle;
  align-items: center;
  height: 100vh; }

.ui.header {
  color: #e96132; }

.ui.inverted.menu {
  background-size: contain;
  background: url(./../assets/bg.png); }

.ui.segment.pushable {
  border: 0;
  border-radius: 0; }

@media only screen and (max-width: 776px) {
  .ui.active.progress {
    margin: 0 0.9rem 1rem; } }

.ui.active.progress .bar {
  min-width: 3em; }

.ui.active.progress .ui.statistic > .label,
.ui.statistics .statistic > .label {
  text-transform: none; }

.ui.dimmer {
  background-color: rgba(0, 0, 0, 0.55); }

.button-loading {
  line-height: 1rem; }

main {
  min-height: 100%; }

section.intro {
  width: 100%;
  background-color: #eceae5; }
  section.intro ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 2rem; }
    section.intro ul li {
      padding-bottom: 0.3rem; }
  section.intro h1.ui.header {
    margin-top: 0; }
  section.intro img {
    margin: 0 auto; }

.test-container {
  max-width: 55rem; }

section.test {
  background-color: #eceae5; }
  section.test .question {
    display: flex;
    flex-direction: column;
    align-items: center; }
  section.test .question-text {
    font-size: 1.5rem;
    line-height: 1.8rem;
    margin-bottom: 1rem;
    max-width: 50rem;
    min-height: 4rem; }
    @media only screen and (max-width: 776px) {
      section.test .question-text {
        padding-bottom: 1rem;
        border-bottom: 1px solid #00000033; } }
  section.test .answers-container {
    display: flex;
    justify-content: center; }
  section.test .answers {
    margin-bottom: 1.5rem;
    margin-left: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: left;
    vertical-align: center; }
    section.test .answers .answer {
      text-align: left;
      margin-bottom: 0.5rem;
      position: relative; }

.results-container {
  background-color: #eceae5; }
  .results-container .pdf-btn {
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 99; }

section.results {
  padding: 5rem 0 15rem; }
  section.results .page {
    padding-top: 3rem; }
  section.results .paragraph {
    padding: 2rem 6rem 5rem 6rem; }
  section.results .ui.horizontal.segments.segment-group {
    margin-bottom: 4rem; }
  section.results figure {
    text-align: center; }
  section.results blockquote {
    font-size: 2rem;
    margin: 6rem 0 1rem;
    quotes: "“" "”" "‘" "’"; }
    section.results blockquote::before {
      content: open-quote;
      text-align: left; }
    section.results blockquote::after {
      content: close-quote;
      text-align: right; }
    section.results blockquote p {
      display: inline; }
  section.results figcaption {
    font-size: 1.7rem;
    text-align: center; }
  section.results ol.ui.list li:before {
    color: #e96132; }
  section.results .paragraph.sentences blockquote {
    margin: 0 0 1.5rem;
    font-size: 1.5rem; }

.dashboard {
  padding: 3rem 3rem 0 3rem;
  background-color: rgba(236, 234, 229, 0.2);
  height: 100%;
  min-height: 100vh; }
  .dashboard .dashboard-center {
    max-width: 1000px;
    margin: 0 auto; }
  .dashboard .ui.centered.grid > .column:not(.aligned):not(.justified):not(.row),
  .dashboard .ui.centered.grid > .row > .column:not(.aligned):not(.justified),
  .dashboard .ui.grid .centered.row > .column:not(.aligned):not(.justified) {
    text-align: center; }
  .dashboard .ui.statistic > .label,
  .dashboard .ui.statistics .statistic > .label {
    font-size: 1.2rem;
    margin-top: 0.5rem; }
  .dashboard .row {
    margin-bottom: 2rem; }
  .dashboard .recharts-tooltip-wrapper {
    font-size: 1.3rem; }
  .dashboard .ui.table tfoot th {
    text-align: center; }
  .dashboard tr {
    cursor: pointer; }
  .dashboard .ui.sortable.table thead th.no-hover:hover {
    background: #f9fafb;
    cursor: initial; }
  .dashboard td .ui.button:not(.icon) > .icon:not(.button):not(.dropdown) {
    margin: 0;
    font-size: 1.3em; }
  .dashboard td .ui.tiny.button,
  .dashboard .ui.tiny.buttons .button,
  .dashboard .ui.tiny.buttons .or {
    padding: .58928571em 0.725em .58928571em; }

section.customer-dashboard .customer-table thead button {
  width: 100%; }

section.customer-dashboard .customer-table thead .ui.input {
  width: 100%; }

section.customer-dashboard .ui.celled.table tr th {
  border: none; }

section.customer-dashboard .personnel-graph {
  width: 100%; }

@media only screen and (max-width: 776px) {
  section.customer-dashboard {
    padding: 3rem 0rem 0rem 0rem; }
    section.customer-dashboard .statistics {
      max-width: 100vw;
      margin: 0;
      padding: 1rem; }
      section.customer-dashboard .statistics .column {
        margin-top: 1rem !important;
        box-shadow: none !important; }
    section.customer-dashboard .customer-table .ui.input {
      margin-bottom: .5rem; } }

.send-test {
  width: 100%; }
  .send-test div.segment {
    width: 100%;
    margin: 0 1rem; }
  .send-test .ui.steps .step:first-child.active {
    border-bottom: solid 2px #fbbd08; }
  .send-test .ui.steps .step:nth-child(2).active {
    border-bottom: solid 2px #b5cc18; }
  .send-test .ui.steps .step:nth-child(3).active {
    border-bottom: solid 2px #21ba45; }
  .send-test .step-1 .inputs {
    display: flex;
    flex-direction: column; }
    .send-test .step-1 .inputs div {
      margin: 0.3rem 0; }
  .send-test .step-2 {
    display: flex;
    flex-direction: column; }
    .send-test .step-2 .row {
      margin: 0.5rem 0; }
    .send-test .step-2 button {
      margin: 1rem 0 0 0; }
    .send-test .step-2 .ribbon {
      margin: 1rem 0 1rem;
      font-size: 1.2rem; }
  .send-test .step-3 .column {
    display: flex;
    flex-direction: column; }
  .send-test .ui.steps {
    width: 100%; }
  @media only screen and (max-width: 776px) {
    .send-test {
      border-radius: 0 !important; } }

.ask-credit {
  width: 100%; }
  .ask-credit .input {
    width: 100%;
    margin: 0.3rem 0; }
  @media only screen and (max-width: 776px) {
    .ask-credit {
      border-radius: 0 !important;
      background-color: #f9fafb !important; } }

section.admin-dashboard .ui.celled.table tr th {
  border: none; }

section.admin-dashboard .request-table thead .ui.input {
  width: 100%; }

section.admin-dashboard .request-table thead button {
  width: 100%; }

section.admin-dashboard .statistics {
  min-height: 10rem;
  display: flex;
  align-items: center; }

section.admin-dashboard .admin-menu {
  margin: 2rem 0 3rem; }

section.admin-dashboard .question-selector-tabs {
  margin-bottom: 1rem; }

section.admin-dashboard .question-selector.stage .ui.button {
  width: 7.3rem;
  border-radius: 0.5rem; }

section.admin-dashboard .question-selector .ui.button {
  width: 30px;
  height: 30px;
  line-height: 32px;
  padding: 0;
  margin: 0 0.1rem 0.2rem 0.1rem;
  border-radius: 0.7rem; }
  section.admin-dashboard .question-selector .ui.button:hover {
    color: #d1d1d1; }
  section.admin-dashboard .question-selector .ui.button.selected-question {
    background-color: #333; }

section.admin-dashboard .question-editor textarea {
  min-height: 80px; }

section.admin-dashboard .request-table button {
  margin-left: 0 !important; }

@media only screen and (max-width: 992px) {
  section.admin-dashboard .statistics .column {
    padding-bottom: 1rem; }
  section.admin-dashboard .statistics .column:nth-child(3) {
    box-shadow: none !important; } }

@media only screen and (max-width: 776px) {
  section.admin-dashboard {
    padding: 3rem 0.5rem 3rem 0.5rem; }
    section.admin-dashboard .statistics {
      max-width: 100vw; }
    section.admin-dashboard .admin-menu .menu .item {
      flex-basis: 25%;
      padding: 10px !important;
      display: initial !important; } }

.request-modal p {
  color: #fff; }

.add-company.ui.modal .ui.input {
  width: 100%;
  margin: .3rem 0 .3rem; }

.add-company.ui.modal .ui.inverted.green.button {
  margin-top: 1rem; }

.add-company.ui.modal .required input {
  border-color: orange; }

.add-company.ui.modal .ui.secondary.segment {
  width: 100%; }

@media only screen and (max-width: 776px) {
  .add-company.ui.modal {
    border-radius: 0 !important;
    box-shadow: none !important;
    max-width: 100vw; }
    .add-company.ui.modal .segment {
      border-radius: 0;
      border: none; }
    .add-company.ui.modal .content {
      padding-top: 0 !important; }
    .add-company.ui.modal .description,
    .add-company.ui.modal .grid,
    .add-company.ui.modal .content,
    .add-company.ui.modal .segment {
      height: 100%; } }

.ui.modal.answers-modal {
  width: 95vw; }
  .ui.modal.answers-modal .content {
    margin: 0;
    padding: 0; }
  .ui.modal.answers-modal > .close {
    z-index: 1002;
    top: 0px;
    right: -5px;
    color: black; }
  .ui.modal.answers-modal > table {
    width: 95%; }
  .ui.modal.answers-modal .ui.table td.collapsing, .ui.modal.answers-modal .ui.table th.collapsing {
    white-space: initial; }

@media only screen and (max-width: 776px) {
  .ui.modals {
    margin: 0 !important;
    padding: 0 !important; }
    .ui.modals .ui.modal {
      width: 100% !important;
      min-height: 100% !important;
      margin: 0 !important; }
      .ui.modals .ui.modal .ui.labeled.input {
        display: flex;
        flex-direction: column; } }

section.login {
  height: 80vh;
  max-height: 80vh; }
  section.login button.ui {
    line-height: 25px; }
  @media only screen and (max-width: 776px) {
    section.login .ui.segment {
      border: none;
      box-shadow: none; }
    section.login .grid {
      max-height: 100vh;
      max-width: 100vw;
      margin: 0; } }

.user-menu {
  position: absolute;
  top: 1rem;
  right: 1rem; }
  .user-menu i.inverted.circular.purple.icon {
    transition: background-color 0.2s linear; }
  .user-menu i.inverted.circular.purple.icon:hover {
    background-color: black !important; }

@keyframes toastIn {
  from {
    opacity: 0;
    transform: translateY(-30px); }
  50% {
    opacity: 1; } }

.toastIn {
  animation-name: toastIn; }

@keyframes toastOut {
  from {
    opacity: 1; }
  50% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3); }
  to {
    opacity: 0; } }

.toastOut {
  animation-name: toastOut; }

select {
  font-size: 50px; }

.main-website .pusher {
  background-color: #fff; }

.main-website .pushable .ui.inverted.vertical.labeled.icon.ui.uncover.right.thin.visible.sidebar.menu {
  background: #fff; }

.main-website .pushable .ui.inverted.menu {
  background: #fff; }

.main-website .pushable .ui.vertical.menu .item.close {
  display: none; }

.main-website .pushable .ui.vertical.menu .item {
  cursor: pointer;
  border-bottom: 1px solid rgba(128, 128, 128, 0.16); }
  .main-website .pushable .ui.vertical.menu .item a {
    color: #1c2f4d; }

@media only screen and (min-width: 860px) {
  .main-website .pushable .ui.visible.thin.right.sidebar ~ .fixed, .main-website .pushable .ui.visible.thin.right.sidebar ~ .pusher {
    transform: none !important; } }

@media only screen and (max-width: 500px) {
  .main-website .pushable .ui.visible.thin.right.sidebar ~ .fixed, .main-website .pushable .ui.visible.thin.right.sidebar ~ .pusher {
    transform: translate3d(-100vw, 0, 0); }
  .main-website .pushable .ui.vertical.menu .item.close {
    display: block; }
  .main-website .pushable .ui.inverted.vertical.labeled.icon.ui.uncover.right.thin.sidebar.menu {
    position: fixed;
    top: 0;
    width: 100vw; } }

.main-website .content {
  max-width: 1350px;
  margin: 0 auto; }

.main-website h1, .main-website h2, .main-website h3, .main-website h4, .main-website h5, .main-website h6 {
  color: #222222; }

.main-website h2 {
  font-size: 4em; }

.main-website header nav {
  width: 100%; }
  .main-website header nav .hamburger {
    display: none; }
  .main-website header nav ul {
    padding: 1em 5em;
    width: 100%;
    display: flex;
    justify-content: flex-end; }
    .main-website header nav ul li {
      list-style: none;
      color: #fafafa; }
      .main-website header nav ul li:not(.phone), .main-website header nav ul li:not(.brand) {
        margin: 0 1em; }
      .main-website header nav ul li:last-of-type {
        margin-right: 0; }
      .main-website header nav ul li a {
        transition: color .2s linear; }
      .main-website header nav ul li a:hover {
        color: #d7bd73; }
  .main-website header nav.top {
    background-color: #1c2f4d; }
    .main-website header nav.top .phone {
      flex-grow: 1;
      font-size: 1.20em;
      opacity: 0.98; }
      .main-website header nav.top .phone i {
        font-size: 0.9em; }
    .main-website header nav.top i {
      font-size: 1.1em; }
  .main-website header nav.bottom ul {
    padding-top: 1em;
    align-items: center; }
  .main-website header nav.bottom li {
    display: flex;
    align-items: center;
    flex-direction: row; }
  .main-website header nav.bottom a {
    color: rgba(0, 0, 0, 0.6);
    font-size: 1.2em;
    letter-spacing: 0.11em; }
    .main-website header nav.bottom a:hover {
      color: #1c2f4d; }
  .main-website header nav.bottom .brand {
    flex-grow: 1; }
    .main-website header nav.bottom .brand a {
      display: flex;
      color: #1c2f4d;
      font-size: 3em;
      font-weight: 700;
      letter-spacing: 0.05em;
      align-items: center; }
    .main-website header nav.bottom .brand img {
      height: 70px; }
    .main-website header nav.bottom .brand span {
      margin: 0 0.3em 0;
      display: block; }
  .main-website header nav.bottom .panel {
    background: #1c2f4d;
    border-radius: 15px;
    padding: 2em 2em;
    transition: all .2s linear;
    cursor: pointer;
    height: 2em;
    white-space: nowrap; }
    .main-website header nav.bottom .panel a {
      color: #fff;
      font-weight: 700; }
  .main-website header nav.bottom .panel:hover {
    background-color: #d7bd73; }
  @media only screen and (max-width: 1160px) {
    .main-website header nav.bottom .brand img {
      height: 50px; }
    .main-website header nav.bottom .panel {
      font-size: .9em;
      padding: 1.5em 1em;
      border-radius: 5px; }
    .main-website header nav.bottom ul li {
      margin: .4em; } }
  @media only screen and (max-width: 600px) {
    .main-website header nav ul {
      padding: 1em 1em; } }
  @media only screen and (max-width: 950px) {
    .main-website header nav ul {
      padding: 1em 1em; } }
  @media only screen and (max-width: 860px) {
    .main-website header nav ul {
      padding: 1em 1em; }
    .main-website header nav .hamburger {
      display: block; }
    .main-website header nav.bottom ul li:not(:last-of-type) {
      display: none; }
    .main-website header nav.bottom ul li:first-child {
      display: block; } }

.main-website .hero {
  background-image: url(../assets/hero-bg.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top right; }
  .main-website .hero .content {
    display: flex; }
  .main-website .hero aside {
    flex-basis: 50%; }
  .main-website .hero .man {
    position: relative;
    height: 598px; }
    .main-website .hero .man img {
      height: 1047px;
      width: auto; }
  .main-website .hero .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em; }
    .main-website .hero .text h1 {
      color: #222222;
      font-size: 5em; }
    .main-website .hero .text p {
      font-size: 1.5em;
      line-height: 2em; }
  @media only screen and (max-width: 980px) {
    .main-website .hero {
      min-height: 550px; }
      .main-website .hero .content {
        align-items: center;
        vertical-align: middle;
        align-content: center; }
      .main-website .hero aside.text {
        height: 550px;
        flex-basis: 100%;
        padding: 50px;
        letter-spacing: .24em; }
      .main-website .hero .man {
        flex-basis: 0;
        display: none; } }
  @media only screen and (max-width: 400px) {
    .main-website .hero aside.text {
      padding: 0;
      max-width: 300px;
      margin: 0 auto; }
      .main-website .hero aside.text h1 {
        line-height: 1.1em; }
      .main-website .hero aside.text p {
        line-height: 1.5em; } }

.main-website .info {
  background-color: #f0f0f0;
  box-shadow: -1px 2px 5px 0px rgba(0, 0, 0, 0.11); }
  .main-website .info .content {
    display: flex;
    justify-content: flex-end; }
    .main-website .info .content .info-lot {
      max-width: 600px;
      padding: 11em 2em;
      margin: 0 3em 0 0;
      text-align: center; }
      .main-website .info .content .info-lot h2 {
        font-size: 4em;
        color: #222222; }
      .main-website .info .content .info-lot p {
        font-size: 1.5em;
        letter-spacing: .1em; }
  @media only screen and (max-width: 980px) {
    .main-website .info {
      background-color: #a4d6e1;
      justify-content: center; }
      .main-website .info .content .info-lot {
        margin: 0;
        background-image: url("../assets/enneagram.png");
        background-size: 300px;
        background-repeat: no-repeat;
        background-position: center bottom;
        width: 100%;
        max-width: initial; }
        .main-website .info .content .info-lot p {
          max-width: 600px;
          margin: 0 auto;
          padding-bottom: 3em; } }

.main-website .services {
  padding: 10em 0 5em;
  text-align: center;
  counter-reset: service-counter; }
  .main-website .services .service-list {
    padding: 4em 3em;
    display: flex;
    flex-wrap: wrap; }
    .main-website .services .service-list .service {
      flex-basis: 33%;
      padding: 5px 30px 35px; }
      .main-website .services .service-list .service .image {
        position: relative;
        width: 180px;
        height: 180px;
        border-radius: 90px;
        background-color: #1c2f4d;
        line-height: 180px;
        margin: 0 auto; }
      .main-website .services .service-list .service .image i {
        font-size: 70px;
        color: #fff; }
      .main-website .services .service-list .service .image i::after {
        counter-increment: service-counter;
        content: counter(service-counter, decimal);
        width: 182px;
        height: 182px;
        font-size: 100px;
        position: absolute;
        left: calc(50% - 91px);
        top: calc(50% - 91px);
        border-radius: 91px;
        color: #fff;
        background-color: #d7bd73;
        transform: scale(0);
        transition: all .3s ease 0s;
        font-weight: 900; }
      .main-website .services .service-list .service:hover .image i::after {
        transform: scale(1); }
      .main-website .services .service-list .service h3 {
        font-size: 2em; }
      .main-website .services .service-list .service p {
        font-size: 1.3em;
        max-width: 350px;
        margin: 0 auto; }
      @media only screen and (max-width: 810px) {
        .main-website .services .service-list .service {
          flex-basis: 50%; } }
      @media only screen and (max-width: 575px) {
        .main-website .services .service-list .service {
          flex-basis: 100%; } }

.main-website .personality-types {
  padding: 10em 0 5em;
  background-color: rgba(240, 240, 240, 0.25); }
  .main-website .personality-types h2 {
    text-align: center; }
  .main-website .personality-types .types-list {
    padding: 3em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    counter-reset: personality-type-counter; }
    .main-website .personality-types .types-list .type {
      flex-basis: 50%;
      display: flex;
      height: 350px;
      margin-bottom: 4em;
      position: relative;
      padding: 2em; }
      .main-website .personality-types .types-list .type .image:before {
        content: "";
        position: absolute;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
        border-right: 15px solid #fff;
        height: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto; }
      .main-website .personality-types .types-list .type .image:after {
        counter-increment: personality-type-counter;
        content: counter(personality-type-counter, decimal);
        font-size: 3em;
        font-weight: 700;
        margin: auto;
        position: absolute;
        left: 10px;
        top: 10px;
        background: #fff;
        height: 80px;
        width: 80px;
        line-height: 80px;
        text-align: center;
        color: #d7bd73;
        transition: all .3s linear; }
      .main-website .personality-types .types-list .type:hover .image:after {
        background-color: #1c2f4d;
        border-radius: 50%; }
      @media only screen and (min-width: 1000px) {
        .main-website .personality-types .types-list .type.reverse {
          flex-direction: row-reverse; }
          .main-website .personality-types .types-list .type.reverse .image:before {
            border-left: 15px solid #fff;
            border-right: 0;
            right: inherit;
            left: 0; }
          .main-website .personality-types .types-list .type.reverse h3, .main-website .personality-types .types-list .type.reverse p {
            text-align: right; } }
      .main-website .personality-types .types-list .type .image, .main-website .personality-types .types-list .type .type-text {
        flex: 1; }
      .main-website .personality-types .types-list .type .image {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        position: relative; }
      .main-website .personality-types .types-list .type .image.type1 {
        background-image: url(../assets/type1.jpg); }
      .main-website .personality-types .types-list .type .image.type2 {
        background-image: url(../assets/type2.jpg); }
      .main-website .personality-types .types-list .type .image.type3 {
        background-image: url(../assets/type3.jpg); }
      .main-website .personality-types .types-list .type .image.type4 {
        background-image: url(../assets/type4.jpg); }
      .main-website .personality-types .types-list .type .image.type5 {
        background-image: url(../assets/type5.jpg); }
      .main-website .personality-types .types-list .type .image.type6 {
        background-image: url(../assets/type6.jpg); }
      .main-website .personality-types .types-list .type .image.type7 {
        background-image: url(../assets/type7.jpg); }
      .main-website .personality-types .types-list .type .image.type8 {
        background-image: url(../assets/type8.jpg); }
      .main-website .personality-types .types-list .type .image.type9 {
        background-image: url(../assets/type9.jpg); }
      .main-website .personality-types .types-list .type .type-text {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
        padding: 2em; }
        .main-website .personality-types .types-list .type .type-text h3 {
          flex-basis: 100%;
          font-size: 2em;
          margin-bottom: 1em; }
        .main-website .personality-types .types-list .type .type-text p {
          line-height: 1.6em;
          font-size: 1.2em;
          letter-spacing: .05em; }
      @media only screen and (max-width: 999px) {
        .main-website .personality-types .types-list .type {
          height: 500px;
          flex-basis: 100%; }
          .main-website .personality-types .types-list .type:nth-of-type(2n+1) {
            flex-direction: row-reverse; }
            .main-website .personality-types .types-list .type:nth-of-type(2n+1) .image:before {
              border-left: 15px solid #fff;
              border-right: 0;
              right: inherit;
              left: 0; }
            .main-website .personality-types .types-list .type:nth-of-type(2n+1) h3, .main-website .personality-types .types-list .type:nth-of-type(2n+1) p {
              text-align: right; } }
      @media only screen and (max-width: 700px) {
        .main-website .personality-types .types-list .type {
          max-width: 500px;
          flex-direction: column !important;
          height: auto; }
          .main-website .personality-types .types-list .type .image {
            min-height: 400px;
            margin-bottom: 2em; }
            .main-website .personality-types .types-list .type .image:before {
              display: none; }
          .main-website .personality-types .types-list .type .type-text {
            padding: 0; }
            .main-website .personality-types .types-list .type .type-text h3, .main-website .personality-types .types-list .type .type-text p {
              text-align: left; }
            .main-website .personality-types .types-list .type .type-text p {
              letter-spacing: .1em; } }

.main-website .contact {
  display: flex;
  width: 100%; }
  .main-website .contact aside {
    flex-basis: 50%;
    color: #fff;
    background-color: #1c2f4d; }
    .main-website .contact aside.info-container {
      padding: 10em 5em;
      font-size: 1em; }
    .main-website .contact aside.info-container h3 {
      font-size: 2.5em;
      color: #fff;
      margin-bottom: 1.1em; }
    .main-website .contact aside.info-container .contact-row {
      margin-bottom: 1.5em; }
    .main-website .contact aside.info-container label {
      font-weight: bold;
      display: inline-block;
      width: 100%; }
    .main-website .contact aside.info-container label, .main-website .contact aside.info-container span {
      font-size: 1.25em;
      letter-spacing: .1em; }
  .main-website .contact aside.map .maps {
    width: 100%;
    height: 100%; }
  @media only screen and (max-width: 850px) {
    .main-website .contact {
      flex-wrap: wrap; }
      .main-website .contact aside, .main-website .contact aside.map {
        flex-basis: 100%; }
      .main-website .contact aside.map {
        min-height: 350px; } }

.main-website footer {
  height: 5em;
  text-align: center;
  font-size: 1.2em; }
  .main-website footer p {
    line-height: 5em; }

.hamburger-container .hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }

.hamburger-container .hamburger:hover {
  opacity: 0.7; }

.hamburger-container .hamburger.is-active:hover {
  opacity: 0.7; }

.hamburger-container .hamburger.is-active .hamburger-inner,
.hamburger-container .hamburger.is-active .hamburger-inner::before,
.hamburger-container .hamburger.is-active .hamburger-inner::after {
  background-color: #000; }

.hamburger-container .hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative; }

.hamburger-container .hamburger-inner, .hamburger-container .hamburger-inner::before, .hamburger-container .hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease; }

.hamburger-container .hamburger-inner::before, .hamburger-container .hamburger-inner::after {
  content: "";
  display: block; }

.hamburger-container .hamburger-inner::before {
  top: -10px; }

.hamburger-container .hamburger-inner::after {
  bottom: -10px; }

.hamburger-container .hamburger--spring .hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
  top: 2px;
  transition: background-color 0s 0.13s linear; }

.hamburger-container .hamburger--spring .hamburger-inner::before {
  top: 10px;
  transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger-container .hamburger--spring .hamburger-inner::after {
  top: 20px;
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger-container .hamburger--spring.is-active .hamburger-inner {
  transition-delay: 0.22s;
  background-color: transparent !important; }

.hamburger-container .hamburger--spring.is-active .hamburger-inner::before {
  top: 0;
  transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translate3d(0, 10px, 0) rotate(45deg); }

.hamburger-container .hamburger--spring.is-active .hamburger-inner::after {
  top: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translate3d(0, 10px, 0) rotate(-45deg); }
