@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto');

$secondary-font-color:#e96132;

body {
    padding-left: 85px;
    width: calc(100%-85px);
    // font-family: 'Roboto', sans-serif;
    font-weight: thin;
    font-size:12px;
}

header {
    position: fixed;
    left: 0;
    top: 0;
    width: 85px;
    height: 100%;
    padding: 0;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
    // font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color:$secondary-font-color
}

a{
    color:white;

    &:hover{
        color:white;
    }
}

hr{
    border:1px dashed orange;
    width:85%;
    margin:2rem auto;
}

.ui.header{
    color:$secondary-font-color;
}

.ui.inverted.menu {
    background-size: contain;
    background: url(./../assets/bg.png);
}

.ui.segment.pushable {
    border: 0;
    border-radius: 0;
}

main {
    &::after {
        content: "";
        background-size: contain;
        background: url(./../assets/test-bg.png);
        opacity: 0.7;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
    }
}

.centered{
    margin:0 auto;
    width:initial;
}

.flex-center{
    display: flex;
    align-content: center;
    vertical-align: middle;
    align-items: center;
    height: 100vh;
}


section.intro{
    h1{
        margin-bottom:10px;
    }

    ul{
        list-style: none;
        margin:0;
        padding: 0;
        margin-bottom:25px;

        li{
            padding-bottom:5px;
        }
    }
}

section.test{
    .question{
        display:flex;
        flex-direction: column;
        align-items: center;
    }

    .question-text{
        font-size: 1.5rem;
        margin-bottom:1rem;
    }

    .answers{
        margin-bottom:1.5rem;
        .answer{
            text-align: left;
            margin-bottom:0.5rem;
        }
    }
}

section.results{
    margin-top:1rem;

    .paragraph{
        padding:2rem 6rem 5rem 6rem;
    }

    .ui.horizontal.segments.segment-group{
        margin-bottom:4rem;
    }

    figure{
        text-align: center;
    }

    blockquote{
        font-size:2rem;
        margin:6rem 0 1rem;
        quotes: "\201C""\201D""\2018""\2019";
        &::before{
            content: open-quote;
            text-align: left;
        }
        &::after{
            content: close-quote;
            text-align: right;
        }
        p{
            display: inline;
        }
    }

    figcaption{
        font-size:1.7rem;
        text-align: center;
    }

    ol.ui.list{
        li:before{
            color:$secondary-font-color;
        }
    }

    .paragraph.sentences{
        blockquote{
            margin:0 0 1.5rem;
            font-size:1.5rem;
        }
    }
}

// https://www.workshape.io/person/incomplete