@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat|Roboto");
#root, .App {
  height: 100%;
}

body {
  padding-left: 6rem;
  width: 100%;
  font-weight: thin;
  font-size: 12px;
  font-variant-ligatures: no-common-ligatures;
  -webkit-font-variant-ligatures: no-common-ligatures;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 6rem;
  height: 100%;
  padding: 0;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  color: #e96132;
}

a {
  color: white;
}
a:hover {
  color: white;
}

hr {
  border: 0.11rem dashed orange;
  width: 85%;
  margin: 2rem auto;
}

.centered {
  margin: 0 auto;
  width: initial;
}

.flex-center {
  display: flex;
  align-content: center;
  vertical-align: middle;
  align-items: center;
  height: 100vh;
}

.ui.header {
  color: #e96132;
}
.ui.inverted.menu {
  background-size: contain;
  background: url(./../assets/bg.png);
}
.ui.segment.pushable {
  border: 0;
  border-radius: 0;
}
.ui.active.progress .bar {
  min-width: 3em;
}
.ui.statistic > .label, .ui.statistics .statistic > .label {
  text-transform: none;
}

main {
  height: 100%;
}
main::after {
  content: "";
  background-size: contain;
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background-color: #eceae5;
}

section.intro ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 2rem;
}
section.intro ul li {
  padding-bottom: 0.3rem;
}
section.intro h1.ui.header {
  margin-top: 0;
}
section.intro img {
  margin: 0 auto;
}

.test-container {
  max-width: 55rem;
}

section.test .question {
  display: flex;
  flex-direction: column;
  align-items: center;
}
section.test .question-text {
  font-size: 1.5rem;
  line-height: 1.8rem;
  margin-bottom: 1rem;
  max-width: 50rem;
  min-height: 4rem;
}
section.test .answers-container {
  display: flex;
}
section.test .answers {
  margin-bottom: 1.5rem;
  margin-left: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  vertical-align: center;
}
section.test .answers .answer {
  text-align: left;
  margin-bottom: 0.5rem;
  position: relative;
}
section.test .mood-container {
  width: 10rem;
}
section.test .mood-container i.icon {
  font-size: 1.6em;
  margin-top: 0.4rem;
  transition: color 0.2s linear;
}

.results-container .pdf-btn {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 99;
}

section.results {
  margin-top: 1rem;
}
section.results .paragraph {
  padding: 2rem 6rem 5rem 6rem;
}
section.results .ui.horizontal.segments.segment-group {
  margin-bottom: 4rem;
}
section.results figure {
  text-align: center;
}
section.results blockquote {
  font-size: 2rem;
  margin: 6rem 0 1rem;
  quotes: "“" "”" "‘" "’";
}
section.results blockquote::before {
  content: open-quote;
  text-align: left;
}
section.results blockquote::after {
  content: close-quote;
  text-align: right;
}
section.results blockquote p {
  display: inline;
}
section.results figcaption {
  font-size: 1.7rem;
  text-align: center;
}
section.results ol.ui.list li:before {
  color: #e96132;
}
section.results .paragraph.sentences blockquote {
  margin: 0 0 1.5rem;
  font-size: 1.5rem;
}

section.customer-dashboard {
  padding: 3rem 3rem 0 3rem;
  background-color: #ffffff;
  height: 100%;
  min-height: 100vh;
}
section.customer-dashboard .ui.three.statistics {
  max-width: 1000px;
  margin: 0 auto;
}
section.customer-dashboard .ui.centered.grid > .column:not(.aligned):not(.justified):not(.row), section.customer-dashboard .ui.centered.grid > .row > .column:not(.aligned):not(.justified), section.customer-dashboard .ui.grid .centered.row > .column:not(.aligned):not(.justified) {
  text-align: center;
}
section.customer-dashboard .ui.statistic > .label, section.customer-dashboard .ui.statistics .statistic > .label {
  font-size: 1.2rem;
  margin-top: 0.5rem;
}
section.customer-dashboard .row {
  margin-bottom: 2rem;
}
section.customer-dashboard .recharts-tooltip-wrapper {
  font-size: 1.3rem;
}
section.customer-dashboard .ui.table tfoot th {
  text-align: center;
}
section.customer-dashboard tr {
  cursor: pointer;
}
section.customer-dashboard .bar-graph-container {
  width: 100%;
}
section.customer-dashboard .recharts-responsive-container {
  flex-grow: 1;
}

/*# sourceMappingURL=App.css.map */
